<nav>
    <div class="Page Title" >
        <a href="/"><h1>NOde and Express JavaScript</h1></a>
<p>Software Engineer</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>
  