<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veritatis deserunt temporibus perspiciatis impedit minima, alias, voluptatum odio nesciunt incidunt officiis assumenda, repudiandae consequatur omnis ipsam pariatur? Cupiditate, libero eveniet.  </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veritatis deserunt temporibus perspiciatis impedit minima, alias, voluptatum odio nesciunt incidunt officiis assumenda, repudiandae consequatur omnis ipsam pariatur? Cupiditate, libero eveniet.  </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veritatis deserunt temporibus perspiciatis impedit minima, alias, voluptatum odio nesciunt incidunt officiis assumenda, repudiandae consequatur omnis ipsam pariatur? Cupiditate, libero eveniet.  </p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>
