<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>We work directly with employers, large and small, to design rigorous, boot camp-style courses with an 85% graduation rate. Our tuition-free training combines business professional skills development with hands-on technical instruction for high demand jobs. </p>
        <br><br> <p>We prepare individuals to work in key technical roles and equip them with today’s most sought out industry skills. We have placed graduates nationwide for various entry to mid-level tech roles across every sector and provide continued upskilling 
            and professional development support to alumni up to two years post-graduation.</p><br><br>
            <p>We are building a more diverse technical workforce with employers by creating on-ramps for women and people of color, groups staggeringly underrepresented in IT employment today. 85% of our learners are people of color,
                 a third are women, and a third are young adults.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>